.wrap .main-content {
	padding: 15px 20px;
}
.main-content .content-inner {
	margin: 20px 0;
}
.main-content .content-inner .name {
	display: inline-block;
	width: 100px;
	text-align: right;
}
.main-content .content-inner .title {
	margin-left: 40px; 
}
.main-content .content-inner .status {
	display: inline-block;
	width: 80px;
}
.main-content .content-inner input {
	vertical-align: middle;
	margin-right: 5px;
}
.main-content .department-inner {
	margin: 20px 0 0 40px;
	border: 1px solid #ccc;
	width: 780px;
	padding: 15px;
	max-height: 175px;
	overflow: auto;
}
.main-content .all {
	color: #444;
}
.main-content .branch-company a,
.main-content  .branch-department label {
	display: inline-block;
	color: #444;
	display: inline-block;
	width: 120px;
	margin-top: 20px;
}
.main-content .branch-department label {
	width: 230px;
	margin: 20px 20px 0 0;
}
.main-content .confirmC {
	padding-left: 40px;
}